.itemWrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 420px;
  box-shadow: 0px 6px 16px rgba(177, 181, 188, 0.2);
  align-items: center;
  justify-content: space-evenly;
  transition: transform 0.2s ease-in-out;
  z-index: 1;
}

.itemWrapper:nth-child(n + 3) {
  background-color: #f7f7f7;
}
.itemWrapper:nth-child(n + 4) {
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(
    to right,
    rgba(66, 118, 250, 0.4),
    rgba(252, 105, 71, 0.4)
  );
}
.imageWrapper {
  width: 78%;
  height: 52%;
  display: flex;
  justify-content: center;
}
.image {
  max-width: 100%;
  max-height: 100%;
}
.info {
  max-width: 78.55%;
  text-align: center;
}
.info > span {
  font-family: "PrimaryMeduim", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
}
.info h3 {
  font-family: "PrimaryBold", sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}
.codeWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "PrimaryMeduim", sans-serif;
  font-weight: 600;
  font-size: 12px;
  background-color: transparent;
  border: #e5e5e5 1px solid;
  color: #495967;
  cursor: pointer;
}
.codeWrapper > img {
  padding-left: 0.5rem;
}
.codeWrapper > div {
  display: flex;
  width: 65%;
  height: 26px;
  align-items: center;
  background-color: #eef3ff;
  padding-right: 0.5rem;
  position: relative;
}
.codeWrapper > div span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  padding: 0 0.5rem;
  color: #6f819c;
}
.claimed {
  color: #85ee00;
  background: rgba(133, 238, 0, 0.1);
}
.owned {
  color: #ffffff;
  background-color: #4175fa;
}
.used {
  color: #6f819c;
  background-color: #e5e5e5;
}
.orderButton {
  font-family: "PrimaryMeduim", sans-serif;
  font-weight: 600;
  color: white;
  padding: 5px 24px;
  height: 40px;
  background: #4175fa;
  border-radius: 4px;
  box-shadow: 0px 6px 16px rgb(77 77 77 / 34%);
  border: none;
  width: 100%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.orderButton:active {
  transform: scale(0.95);
}
.tooltip {
  font-family: "PrimaryMedium", sans-serif;
  font-weight: 600;
  position: absolute;
  background-color: #4175fa;
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
  transition: opacity 0.2s ease-in-out;
  top: -150%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.tooltip:after {
  content: "";
  position: absolute;
  bottom: -34px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 11px;
  border-style: solid;
  border-color: #4175fa transparent transparent transparent;
  z-index: 123123;
  height: 16px;
  width: 0px;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .itemWrapper {
    width: 40%;
    max-width: 280px;
  }

}
@media (min-width: 1025px){
  .itemWrapper:hover {
    transform: translateY(-5px);
  }
}